<div class="headerBody">
<header>Gurgaon Cakes</header>    

    <div class="dropdown" style="float:left;">
    <button class="dropbtn">Cakes</button>
    <div class="dropdown-content">
      <a href="#">Regular</a>
      <a href="#">Designer Cakes</a>
      <a href="#">Fondent</a>
      <a href="#">Tier Cake</a>
      <a href="#">Five Star Cakes</a>
    </div>
  </div>
  <div class="dropdown" style="float:left;">
    <button class="dropbtn">Flowers</button>
    <div class="dropdown-content">
      <a href="#">Bouquet</a>
      <a href="#">Basket</a>
      <a href="#">Arrangments</a>
    </div>
  </div>
  <div class="dropdown" style="float:left;">
    <button class="dropbtn">Chocolates</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <div class="dropdowncat">
    <button class="dropbtncat"> 
      <i class="fa fa-caret-down">Gifts</i>
    </button>
    <div class="dropdown-content-cat">
      <div class="header">
        <h2>Select Your Gift's </h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3>By Mood</h3>
          <a href="#">Love You</a>
          <a href="#">Sorry</a>
          <a href="#">Congratulations</a>
        </div>
        <div class="column">
          <h3>By Reciepients</h3>
          <a href="#">Gifts For her</a>
          <a href="#">Gifts For him</a>
          <a href="#">New Born</a>
        </div>
        <div class="column">
          <h3>By Relation</h3>
          <a href="#">Boyfriend</a>
          <a href="#">Girlfriend</a>
          <a href="#">In Laws</a>
        </div>
        <div class="column">
            <h3>Others</h3>
            <a href="#">Dry Fruits</a>
            <a href="#">Fruits</a>
            <a href="#">Soft Toys</a>
          </div>
      </div>
    </div>
  </div> 

  <div class="dropdown" style="float:left;">
    <button class="dropbtn">Personalized</button>
    <div class="dropdown-content">
        <a href="#">SameDay</a>
        <a href="#">5-6 Working Days</a>
        <a href="#">10-12 Working Days</a>
    </div>
  </div>
  <div class="dropdown" style="float:left;">
    <button class="dropbtn">Baloons</button>
    <div class="dropdown-content">
      <a href="#">Bouquet</a>
      <a href="#">Box</a>
      <a href="#">Arrangments</a>
    </div>
  </div>
  <div class="dropdown" style="float:left;">
    <button class="dropbtn">Combination</button>
    <div class="dropdown-content">
      <a href="#">Flower Combos</a>
      <a href="#">Cake Combos</a>
      <a href="#">3-in-1 Combos</a>
      <a href="#">other Combos</a>
    </div>
  </div>
  <div class="dropdown" style="float:right;">
    <button class="dropbtnlogin">Login</button>
    <div class="dropdown-content">
      <a href="#">Orders</a>
      <!-- <a href="#"></a>
      <a href="#"></a> -->
    </div>
</div>
<div class="banner-Box">

</div>